{% extends "layout.html" %}

{% block content %}
  {{ super() }}
  <form class="ui form" action="{{url_for('main')}}" method="post">
    <div class="four fields">
      <div class="field">
        <label>Search a restaurant</label>
        <input type="text" name="search" placeholder="Search for a restaurant ...">
      </div>
      <div class="six wide field">
        <label>Search by type</label>
        <select class="ui fluid dropdown" name="type_resto">
          <option>Type</option>
          {% for resto_category in category %}
            <option value="{{resto_category[0]}}">{{resto_category[0]}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="six wide field">
        <label>Find Locations</label>
        <select class="ui fluid dropdown" name="resto_location">
          <option>Find</option>
          {% for name in data %}
            <option value="{{ name.name }}">{{ name.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field sbtn">
        {{ form.submit(class="ui blue button")}}
      </div>
    </div>
  </form>
  <div class="divise"></div>
  <div class="ui four cards">
    {% for item in data %}
      <div class="card">
        <a href="/restaurant/items/{{ item.restaurantid }}/{{ item.name }}" >
          <div class="image">
            <img src= alt="{{ item.name }}">
          </div>
        </a>
          <div class="extra">
            Rating:
            <div class="ui star restaurant rating" data-max-rating ="5" data-rating="2"></div>
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="divise"></div>
  <div class="ui basic segment">
    <h4 class="ui horizontal header divider">
      <i class="home icon"></i>
      View the ratings of the finest in C-1378</h4>
    <p>Dimension C-137 has alot to offer: "This seems like a good time for a drink, and a cold calculated speech with sinister overtones. A speech about politics, about order, brotherhood, power. But speeches are for campaigning. Now is the time for action."</p>
  </div>
  <div class="divise"></div>
  <div class="container main">
    <div class="container first">
      <a href="/restaurant/query/form" class="ui top attached button">Choose your ratings</a>
      <table class="ui pink table">
        <thead>
          <tr>
            <th>Restaurant Name</th>
            <th>Restaurant Type</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>
              <a href="/restaurant/ratings/{{item.name}}">
                  {{item.name}}
              </a>
            </td>
            <td>{{item.types}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/restaurant/ratings/" class="ui bottom attached button">View ratings given by our experts</a>
    </div>
  </div>
  <!-- <div class="divise"></div>
  <div class="ui basic segment">
    <div class="divise"></div>
    <h4 class="ui horizontal header divider">
      <i class="chart bar icon"></i>
      See Ratings by Raters</h4>
  </div>
  <div class="container main">
    <div class="container first">
      <table class="ui pink table">
        <thead>
          <tr>
            <th>Restaurant Type</th>
            <th>Popularity</th>
          </tr>
        </thead>
        <tbody>
          {% for i in rating %}
          <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>              {% for sub in form.types %}>
                            <div class="ui radio checkbox">
                              {{form.types}}
                              {{form.types.label}}
                            </div>
                          {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> -->
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}
