{% extends "layout.html" %}

{% block content %}
  {{ super() }}
  <form class="ui form" action="" method="post">
    <div class="three fields">
      <div class="five wide field">
        <label>Search a restaurant</label>
        <input type="text" name="" value="" placeholder="Search for a restaurant ...">
      </div>
      <div class="eight wide field">
        <label>Search by type</label>
        <select class="ui fluid dropdown">
          <option>Type</option>
          {% for resto_category in category %}
            <option value="/restaurant/{{ resto_category[0] }}">{{ resto_category[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field sbtn">
        <button class="ui primary button" type="button" name="button">Submit</button>
      </div>
    </div>
  </form>
  <div class="divise"></div>
  <div class="ui four cards">
    {% for item in data %}
      <div class="card">
        <a href="/restaurant/items/{{ item.restaurantid }}/{{ item.name }}" >
          <div class="image">
            <img src="" alt="{{ item.name }}">
          </div>
        </a>
          <div class="extra">
            Rating:
            <div class="ui star restaurant rating" data-max-rating ="5" data-rating="2"></div>
          </div>
      </div>
    {% endfor %}
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}
