{% extends "layout.html" %}

{% block content %}
  {{ super() }}
  <div class="content">
    <a href="/restaurant">
      <h3 class="ui header">{{resto}}</h3>
    </a>
      <div class="divise"></div>
      <div class="ui four cards">
        {% for item in data %}
          <div class="card carte">
            <div class="content">
              <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
              <div class="header">{{item[2]}}</div>
              <div class="meta">{{item[3]}}</div>
              <div class="description">
                <p>Item: {{item[0]}}</p>
                <p>Price: {{item[1]}}</p>
              </div>
              <br>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button">Open: {{item[4]}}</div>
                <div class="ui basic red button">Close: {{item[5]}}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
