<!DOCTYPE html>
<html lang="EN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSI2132: Database Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.css/css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/master.css') }}">
  </head>
  <body>
    {% block content %}
    <div class="bigimage">
      <div class="pusher">
        <div class="ui vertical center aligned segment">
          <div class="ui container">
            <div class="ui large secondary menu">
              <div class="right item">
                <a href="/login" class="ui inverted button space">Log in</a>
                <div class="divise"></div>
                <a href="/create_account" class="ui inverted button space">Create Account</a>
              </div>
            </div>
          </div>
          <div class="divise"></div>
          <div class="divise"></div>
          <a href="/restaurant">
            <div class="ui text container">
              <div class="ui huge primary button">Zuchini
                <i class="right arrow icon"></i>
              </div>
              <h1 class="ui inverted header">Find the best food in Dimension C-137</h1>
            </div>
          </a>
        </div>
      </div>
    </div>

    {% endblock %}
    {% block footer %}
    <footer>
      <div class="ui inverted vertical footer segment form-page">
        <div class="ui container">
          Restaurant Finder | 2015
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
