{% extends "layout.html" %}

{% block content %}
  {{ super() }}
  <div class="container main">
    <div class="container first">
      <table class="ui pink table">
        <thead>
          <tr>
            <th>Restaurant Name</th>
            <th>Rater Name</th>
            <th>Price</th>
            <th>Food</th>
            <th>Mood</th>
            <th>Staff</th>
          </tr>
        </thead>
        <tbody>
          {% for item in  data%}
            <tr>
              <td>{{item[0]}}</td>
              <td>{{item[1]}}</td>
              <td>
                <div class="ui star restaurant rating" data-max-rating="5" data-rating="{{item[2]}}"></div>
              </td>
              <td>
                <div class="ui star restaurant rating" data-max-rating="5" data-rating="{{item[3]}}"></div>
              </td>
              <td>
                <div class="ui star restaurant rating" data-max-rating="5" data-rating="{{item[4]}}"></div>
              </td>
              <td>
                <div class="ui star restaurant rating" data-max-rating="5" data-rating="{{item[5]}}"></div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}
